{% extends "base.html" %}

{% block content %}
    <style>
        body{
            border-style: solid;
            background-color: #800000;
            width: 900px;
            height: 1447px;
            margin: auto;
            position: relative;
        }
        p{
            width: 900px;
            height: 50px;
            font-size: 25px;
        }
        ul{
            font-size: 25px;
        }
        h1{
            font-size: 40px;
        }
        #qtyWidth{
            width: 25%;
        }
        #middle {
            font-size: 20px;
        } 
        #larger {
            font-size: 25px;
        } 
        .checkbox {
            height: 20px;
            width: 20px;
        }
        .boxed {
            border: 1px solid black ;
            background:#fff;
        }
    </style>  
    <body>
    <img src="{{url_for('static', filename='RoseGPE.png')}}" style="width:900px;height:150px;" />
    <h1 style="color:white;">Manufacture Progress</h1>
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <pre style="color:white; height: 15px; font-size: 25px;" class="tab">&nbsp;&nbsp;&nbsp;Name    Subteam     Due Date    QTY     File     Status </pre>
        <p style="color:white; height: 0px;">
            {% for i in range(0, len) %}
                <ul class="boxed">
                {{form.manufacturingName[i]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.manufacturingSubteam[i]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.manufacturingDate[i]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.manufacturingQty[i]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.manufacturingFile[i]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.manufacturingStatus[i]}}<br>
                </ul>
            {% endfor %}
        </p>
        <p style="color:white;"> {{ form.remainingTasks(id='middle') }} {{ form.progressOnTask(id='middle') }} {{ form.submitChange(id='middle') }}</p>
    </body>
    </form>
{% endblock %}