<!DOCTYPE html>
<style>
    .whitetext {
        color: white;
    }
</style>
<div id="footer" class="footer">
    <div style="margin-left: 20px; margin-right: 20px;">
        <table style="width: 100%;">
            <tr>
                <th>
                    <h2 class="whitetext" style="text-align: left;">
                        Rose GPE Web Server
                    </h2>
                </th>
                <th>
                    <h3 onclick="topFunction()" style="text-align: right;"><a href="" style="color: white;"> Back to
                            Top</a>

                    </h3>
                    <!-- <button onclick="topFunction()">Back to Top</button> -->
                </th>
            </tr>
        </table>

        <hr>

        <table>
            <tr>
                <th style="width: 40%; text-align: left;">
                    <p class="whitetext">Site Creators: </p>
                    <p class="whitetext">Piotr Galas | pgalas@rose-hulman.edu</p>
                    <p class="whitetext">Wojciech Zacherek | zacherw@rose-hulman.edu</p>
                </th>
            </tr>
        </table>

        <hr>

        <table>
            <tr>
                <th>
                    <h3 class="whitetext">
                        Copyright 2020 ROSE-GPE LLC
                    </h3>
                </th>
            </tr>
        </table>
    </div>
</div>

<script>
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>